nl-select {

    display: inline-block;
    position: relative;

    border-bottom: 2px solid;

    > button.nl-select-trigger {
        overflow: visible !important;
        z-index: inherit;
        background: none;
        border: 0 none;
        font-size:inherit;
        font-family: inherit;
        cursor: pointer;

        &:focus {
            outline: 0;
        }
    }

    &.ng-pristine {
        border-color: rgba(0,0,0,0.12);

        &[placeholder] {
             > button.nl-select-trigger {
                color: rgba(0,0,0,0.57);
            }
        }
    }

    &.ng-not-empty.ng-dirty.ng-valid {
        border-bottom-color: rgb(76,175,80);
    }

    &.active {
        .nl-select-options {
            visibility: visible;
        }
    }

    .nl-select-options {
        position: absolute;
        visibility: hidden;
        min-width: 200px;
        z-index: 999;
        background-color: white;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);

        > ul {
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
            padding: 1rem 0.75rem;
            line-height: 1;
            cursor:pointer;

            &:hover {
                background-color:rgba(0,0,0,0.17);
            }
        }
    }
}