nl-text, [nl-text] {
    border:0;
    border-bottom: 2px solid;
    border-color: rgba(0,0,0,0.12);
    display: inline-block;
    min-width: 150px;
    height: auto;
    /*vertical-align: middle;*/ /* For FF */
    vertical-align: inherit;

    &.ng-not-empty {
        min-width: 50px;
    }

    &.inline {
        display: inline;
    }

    &:focus {
       border-bottom-color: rgb(76,175,80); 
       outline: none;
    }

    &.ng-dirty.ng-invalid {
        border-bottom-color: red; 
    }
}